*{
	background-color: transparent;
	color: yellow;
	border-radius: 20px;
}
#all{
	background-color: rgba(0, 0, 0, 0.9);
}
#body{
	visibility: hidden;
}
summary{
	font-family: lucida handwriting;
}
#progress{
	margin-left: 40%;
}
#counter{
	margin-left: 45%;
	font-size: 500%;
	position: absolute;
}
#logic{
	width: 15%;
	border-radius: 20px;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	height: 50%;
	margin-left: 0%;
	margin-top: 0%;
	resize: both;
	overflow: auto;
	position: absolute;
	font-size: 10px;
	font-family: calibri body;
	position: fixed;
	visibility: hidden;
}
#logic:hover{
	background-color: rgba(0, 0, 255, 0.5);
}
input:hover{
	background-color: rgba(0, 0, 255, 0.5);
}
#changer:hover{
	width: 20%;
}
#logic_1{
	height: 101%;
	width: 101%;
	margin-left: -1%;
	margin-top: -1%;
	background-color: rgba(0, 0, 50, 0.8);
	position: fixed;
	border-radius: 0px;
	visibility: hidden;
}
#logic_4{
	height: 100%;
	width: 50%;
	margin-left: 10%;
	margin-top: 50%;
	background-color: rgba(0, 0, 50, 0.8);
	position: fixed;
	border-radius: 0px;
}
#quiz_div{
	background-color:cyan; 
	border-radius:20px; 
	width: 50%;
	height: 60%;
	margin-top: 10%;
	margin-left: 25%;
	visibility: hidden;
	position: fixed;
	resize: both;
	overflow: auto;
}
.p_quiz{
	color:#005;
}
#quiz_form{
	background-color:cyan; 
	border-radius:20px; 
	width: 50%;
	height: 60%;
	margin-top: 10%;
	margin-left: 25%;
	visibility: hidden;
	position: fixed;
}
#submit_confirm{
	background-color:rgba(255, 0, 0, 0.99); 
	border-radius:20px; 
	width: 50%;
	height: 60%;
	margin-top: 10%;
	margin-left: 25%;
	visibility: hidden;
	position: fixed;
}
#exit_confirm{
	background-color:rgba(255, 0, 0, 0.99); 
	border-radius:20px; 
	width: 50%;
	height: 60%;
	margin-top: 10%;
	margin-left: 25%;
	visibility: hidden;
	position: fixed;
}
hr{
	color: yellow;
}

#banner_div{
	background-color: red;
	width:100%;
	height:20%;
	border-bottom: 
	double yellow 5px;
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	margin-left:0.3%;
	box-shadow: 6px 6px 6px black;
	white-space: nowrap;
	position:fixed;
	font-family: Algerian;
	visibility: hidden;
	}
#header_title{
	font-size: 300%;
	text-align: center;
	margin-top: 0%;
	color: yellow;
	visibility: visible;
	}


#hr{
	color: yellow;
	text-align: center;
	width: 100%;
	height: 10%;
}

#about{
	visibility: hidden;
	position: absolute;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 25%;
	background-color: rgba(0, 0, 0, 0.5);
}

#customize{
	visibility: visible;
	background-color:transparent;
	position:relative;
	/*border-radius:100px;*/
	animation-name:myfirst;
	animation-duration: 120s;
	animation-timing-function:linear;
	animation-delay:10s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	/* Firefox: */
	-moz-border-radius:100px;
	-moz-animation-name:myfirst;
	-moz-animation-duration: 120s;
	-moz-animation-timing-function:linear;
	-moz-animation-delay:10s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-border-radius:100px;
	-webkit-animation-name:myfirst;
	-webkit-animation-duration: 120s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
	/* Internet Explorer: */
	-IE-border-radius:100px;
	-webkit-animation-name:myfirst;
	-webkit-animation-duration: 120s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}
		
	@keyframes myfirst
	{
	0%   {background:grey; left:20%; top:0%; border-radius:20%;}
	25%  {background:chartreuse; left: 20%; top: 30%; border-radius:40%;}
	50%  {background:#008; left: 50%; top: 30%; border-radius:60%;}
	75%  {background:magenta; left:50%; top: 50%; border-radius:80%;}
	100% {background:red; left: 90%; top: 90%; border-radius:100%;}
}
